<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/bootstrap.min.css">
  </head>
  <body>
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Submitter stats</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="page-header" id="banner">
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Log</div>

        <table class="table">
        ...
        </table>
      </div>
    </div>


    <script src="/static/ws.js" type="text/javascript" charset="utf-8"></script>
  </body>
</htm>