<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">
    <script src="/static/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand" href="#">Submitter Stats</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid">
      <div class="page-header" id="banner">
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Log</div>
        <ul id="loglist" class="list-group">
        </ul>
      </div>

    </div>
    <div class="footer">not connected</div>

    <script src="/static/ws.js" type="text/javascript" charset="utf-8"></script>
  </body>
</htm>